body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FEFAE0;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the content area takes up the full height */
  background-color: #FEFAE0;
}

main {
  flex: 1; /* Pushes the footer to the bottom */
}

  