/* Navbar.css */
.navbar {
  background-color: #fff8cb; /* Light yellow background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  color: #606C38; /* Primary color */
}

.navbar-brand:hover {
  color: #283618; /* Darker green for hover */
  text-decoration: none;
}

.navbar-nav {
  margin-left: auto; /* Aligns the nav links to the right */
}

.navbar-nav .nav-item .nav-link {
  color: #283618; /* Dark green text */
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s; /* Smooth hover effect */
  padding: 8px 16px; /* Adds padding to links */
  margin-left: 8px;
  border-radius: 4px; /* Rounded corners for hover effect */
}

.navbar-nav .nav-item .nav-link:hover {
  color: #FEFAE0; /* Light text color on hover */
  background-color: #606C38; /* Primary color background on hover */
}

.navbar-nav .nav-item .nav-link.active {
  color: #FEFAE0; /* Light text color for active link */
  background-color: #606C38; /* Primary color background for active link */
  font-weight: 600;
}
